@use "../abstracts/_variables.sass";
@import "./mixins";

.first-cap {
  text-transform: capitalize;
}

h3 {
  font-weight: 300;
  font-size: 3rem;
  padding: 4rem;
  text-align: center;

  @include respond(tab) {
    font-size: 2.8rem;
  }

  @include respond(mob) {
    font-size: 2.6rem;
  }
}

h4 {
  font-weight: 300;
  font-size: 2.2rem;
  padding: 2rem;
}

.section-layout {
  width: 100vw;

  padding: 8rem 15vw;
  margin: auto;
  p {
    padding-bottom: 2rem;
  }
  ul {
    padding-bottom: 2rem;
    li {
      margin-left: 2rem;
      padding-left: 1rem;
    }
  }
}

.section-inner-row {
  display: flex;
  justify-content: center;
  @include respond(tab) {
    flex-direction: column;
  }
}

.section-text,
button {
  font-family: $font-style1;
  font-weight: 300;
  font-size: 1.8rem;
  border-color: transparent;

  @include respond(tab) {
    font-size: 1.8rem;
  }

  @include respond(mob) {
    font-size: 1.5rem;
  }

  &:active {
    border-color: transparent;
  }
}

.btn {
  padding: 2rem;
  border-color: transparent;
  &__passive {
    background: transparent;
    border-color: transparent;
  }
  &__active {
    &__mint {
      background: $color-mint-4;
      border-color: transparent;
    }
    &__melon {
      background: $color-melon-3;
      border-color: transparent;
    }
  }
}
