@import "./abstracts/_variables.sass";
@import "./shared/shared.scss";

.attrib {
  background-color: $color-blackbean-5;
  // height: 14rem;
  color: $color-apricot-1;
  width: 100vw;
  padding-top: 2rem;
  padding-bottom: 4rem;
  font-family: $font-style3;
  font-weight: 300;
  font-size: 1.2rem;

  display: flex;
  flex-direction: column;
  justify-content: center;

  &__header {
    padding: 1rem;
    text-align: center;
  }
  &__list {
    margin: auto;
    padding: 1rem;
    width: 80%;
    max-width: 110rem;
    // columns: 10rem 2;

    font-family: $font-style3;
    line-height: 150%;

    display: flex;
    flex-wrap: wrap;
    justify-content: center;

    &__row {
      height: 3rem;
      padding: 0 1rem;
      // padding-bottom: 0.8rem;
      display: flex;
      // flex-direction: row;
      > * {
        margin: auto;
      }
      i {
        // padding-right: 0.8rem;
        font-size: 0.9rem;
        width: 2rem;
      }

      div {
        word-spacing: 0.25rem;
        width: 30rem;
      }
    }
    a:link,
    a:visited {
      color: $color-apricot-1;
      text-decoration: none;
    }
    a:hover,
    a:active {
      color: $color-apricot-4;
      cursor: default;
      text-decoration: underline;
    }
  }
}

.attrib-row-wrap {
  display: flex;
}
