@import "./abstracts/_variables.sass";

.banner {
}

.slide {
  max-height: 90vh;
  &__img {
    position: relative;
  }

  &__text {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba($banner-overlay-color, 0.35);

    &__name {
      position: absolute;
      top: 10%;
      left: 14%;
      font-family: $font-style2;
      // font-size: $font-size-banner-title1;
      font-size: 7.5vw;
      color: $font-color-banner-title;
    }
    &__title {
      position: absolute;
      top: 30%;
      left: 50%;
      font-family: $font-style2;
      // font-size: $font-size-banner-title2;
      font-size: 6vw;
      font-weight: 600;
      color: $font-color-banner-title;
    }
    &__cta {
      position: absolute;
      top: 70%;
      width: 100%;
      font-family: $font-style3;
      font-size: $font-size-banner-cta;
      font-weight: 300;
      color: $font-color-cta;
      line-height: 220%;
      font-size: 1.5vw;

      div:nth-child(2) {
        text-transform: uppercase;
        word-spacing: 0.8rem;
        letter-spacing: 0.2rem;
        padding-bottom: 40px;

        a:link {
          text-decoration: none;
        }

        a:hover {
          cursor: default;
        }

        a:visited {
          color: $font-color-cta;
        }
      }
    }
  }
}
