@import "./abstracts/_variables.sass";
@import "./shared/mixins";

.err-404 {
  position: relative;

  &__image {
  }

  &__txt {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    &__title {
      position: absolute;
      top: 20%;
      left: 14%;
      font-family: $font-style3;
      font-size: 3.5vw;
      color: $color-melon-1;
      @include respond(tab) {
        top: 15%;
      }
      @include respond(mob) {
        top: 12%;
      }
    }
    &__line1 {
      position: absolute;
      top: 40%;
      left: 14%;
      font-family: $font-style3;
      font-size: 2vw;
      color: $color-melon-1;
      @include respond(tab) {
        top: 25%;
      }
      @include respond(mob) {
        top: 18%;
      }
    }
  }
}
