@import "./main.scss";

.main-nav {
  font-family: $font-style3;
  font-size: 1.5rem;
  background-color: $color-apricot-5;
  width: 100%;
  text-align: center;

  .nav {
    display: inline-block;
    margin: 2rem;
    text-transform: uppercase;
  }
}

a:link,
a:visited {
  color: $color-blackbean-3;
  text-decoration: none;
}

a:hover,
a:active {
  color: $color-blackbean-4;
  cursor: default;
}
