@import "./abstracts/_variables.sass";

.first-cap {
  text-transform: capitalize;
}

h3 {
  font-weight: 300;
  font-size: 3rem;
  padding: 4rem;
  text-align: center;
}

.section-layout {
  width: 100vw;
  padding: 8rem 2rem;
  margin: auto;
  p {
    padding-bottom: 2rem;
  }
  ul {
    padding-bottom: 2rem;
    li {
      margin-left: 2rem;
      padding-left: 1rem;
    }
  }
}

.section-text {
  font-family: $font-style1;
  font-weight: 300;
  font-size: 1.8rem;
}
